body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}
button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin: 10px;
}
.form-group{
    margin-bottom: 15px;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="number"]{
    width: 200px;
    padding 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type="submit"]{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

